#AI and Data Science Workshop with Python

Assignment 02

Pandas

Dataset: iris.csv.

Dataset Explanation: The Iris Dataset contains four features (length and width of sepals and petals) of 50 samples of three species of Iris (Iris setosa, Iris virginica and Iris versicolor). These measures were used to create a linear discriminant model to classify the species. The dataset is often used in data mining, classification and clustering examples and to test algorithms.

1- Write a Pandas code to read the dataset. like as the follow:

2- Write a code to show the data. The result should be as follow:



```
   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

```

3- Write a code to show a statistical summary of the dataset. 
The result should be as follow:

```

sepal.length	sepal.width	petal.length	petal.width
count	150.000000	150.000000	150.000000	150.000000
mean	5.843333	3.057333	3.758000	1.199333
std	0.828066	0.435866	1.765298	0.762238
min	4.300000	2.000000	1.000000	0.100000
25%	5.100000	2.800000	1.600000	0.300000
50%	5.800000	3.000000	4.350000	1.300000
75%	6.400000	3.300000	5.100000	1.800000
max	7.900000	4.400000	6.900000	2.500000
```

4- Write a code to print the first three rows of the dataset.
The output should be as follow:

```
   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
```

5- Write a code to print number of rows and columns of the dataset.
The result can be like this:

```
Number of Rows: 150
Number of Columns: 5
```

6- Write a code to sort the dataset based on `petal.width` value.

The result should be like this:
```
     sepal.length  sepal.width  petal.length  petal.width    variety
32            5.2          4.1           1.5          0.1     Setosa
13            4.3          3.0           1.1          0.1     Setosa
37            4.9          3.6           1.4          0.1     Setosa
9             4.9          3.1           1.5          0.1     Setosa
12            4.8          3.0           1.4          0.1     Setosa
..            ...          ...           ...          ...        ...
140           6.7          3.1           5.6          2.4  Virginica
114           5.8          2.8           5.1          2.4  Virginica
100           6.3          3.3           6.0          2.5  Virginica
144           6.7          3.3           5.7          2.5  Virginica
109           7.2          3.6           6.1          2.5  Virginica
```

7- Write a code to filter the data by this condition: `variety = Versicolor`

8- Write a code to change the `variety = Setosa` to `variety = NewValue`.
The result can be as follow. You can use `replace()` function.

```
     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2   NewValue
1             4.9          3.0           1.4          0.2   NewValue
2             4.7          3.2           1.3          0.2   NewValue
3             4.6          3.1           1.5          0.2   NewValue
4             5.0          3.6           1.4          0.2   NewValue
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica
```