# Creating a Dataframe with Pandas

In [144]:
#import pandas and numpy
import pandas as pd
import numpy as np

In [145]:
#First we will create a dictionary
d = {'ID': [1, 2, 3], 'Employee': ["Sam", "Alex", "Herb"], 'Programing Language': ["Python", "Java", "C++"], 'salary': [120000, 110000, 100000]}

In [146]:
#converting the dicitonary to dataframe
df = pd.DataFrame(d)
df

   ID Employee Programing Language  salary
0   1      Sam              Python  120000
1   2     Alex                Java  110000
2   3     Herb                 C++  100000

# Operations on Dataframe

In [147]:
#identifying maximum salary
print(np.max(df['salary']))

120000

In [148]:
#identifying minimum salary
print(np.min(df['salary']))

100000

In [149]:
#calculating the sum of salary
print(np.sum(df['salary']))

330000

# Importing Dataset and understanding basic information

In [150]:
#importing dataset
data = pd.read_csv('/content/drive/MyDrive/IMDB-Movie-Data.csv',index_col="Title")

In [151]:
#Show 5 rows of data
print(data.head())

                         Rank  ... Metascore
Title                          ...
Guardians of the Galaxy     1  ...      76.0
Prometheus                  2  ...      65.0
Split                       3  ...      62.0
Sing                        4  ...      59.0
Suicide Squad               5  ...      40.0

[5 rows x 11 columns]

In [152]:
#basic information about this data
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB
None

In [153]:
#Shape of dataset
print(data.shape)

(1000, 11)

In [154]:
# basic statistical summaries 
print(data.describe())

              Rank         Year  ...  Revenue (Millions)   Metascore
count  1000.000000  1000.000000  ...          872.000000  936.000000
mean    500.500000  2012.783000  ...           82.956376   58.985043
std     288.819436     3.205962  ...          103.253540   17.194757
min       1.000000  2006.000000  ...            0.000000   11.000000
25%     250.750000  2010.000000  ...           13.270000   47.000000
50%     500.500000  2014.000000  ...           47.985000   59.500000
75%     750.250000  2016.000000  ...          113.715000   72.000000
max    1000.000000  2016.000000  ...          936.630000  100.000000

[8 rows x 7 columns]

# Data Selection – Indexing and Slicing

In [155]:
# Extract data as series
genre = data['Genre']
print(genre)

Title
Guardians of the Galaxy     Action,Adventure,Sci-Fi
Prometheus                 Adventure,Mystery,Sci-Fi
Split                               Horror,Thriller
Sing                        Animation,Comedy,Family
Suicide Squad              Action,Adventure,Fantasy
                                     ...
Secret in Their Eyes            Crime,Drama,Mystery
Hostel: Part II                              Horror
Step Up 2: The Streets          Drama,Music,Romance
Search Party                       Adventure,Comedy
Nine Lives                    Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [156]:
# Extract data as dataframe
print(data[['Genre']])

                                            Genre
Title
Guardians of the Galaxy   Action,Adventure,Sci-Fi
Prometheus               Adventure,Mystery,Sci-Fi
Split                             Horror,Thriller
Sing                      Animation,Comedy,Family
Suicide Squad            Action,Adventure,Fantasy
...                                           ...
Secret in Their Eyes          Crime,Drama,Mystery
Hostel: Part II                            Horror
Step Up 2: The Streets        Drama,Music,Romance
Search Party                     Adventure,Comedy
Nine Lives                  Comedy,Family,Fantasy

[1000 rows x 1 columns]

In [157]:
#extracting multiple columns
some_cols = data[['Genre','Actors','Director','Rating']]
print(some_cols.head())

                                            Genre  ... Rating
Title                                              ...
Guardians of the Galaxy   Action,Adventure,Sci-Fi  ...    8.1
Prometheus               Adventure,Mystery,Sci-Fi  ...    7.0
Split                             Horror,Thriller  ...    7.3
Sing                      Animation,Comedy,Family  ...    7.2
Suicide Squad            Action,Adventure,Fantasy  ...    6.2

[5 rows x 4 columns]

In [158]:
#slicing by value
print(data.loc[['Suicide Squad']][['Genre','Actors','Director','Rating','Revenue (Millions)']])

                                  Genre  ... Revenue (Millions)
Title                                    ...
Suicide Squad  Action,Adventure,Fantasy  ...             325.02

[1 rows x 5 columns]

In [159]:
#slicing by position
print(data.iloc[10:15][['Rating','Revenue (Millions)']])

                                         Rating  Revenue (Millions)
Title
Fantastic Beasts and Where to Find Them     7.5              234.02
Hidden Figures                              7.8              169.27
Rogue One                                   7.9              532.17
Moana                                       7.7              248.75
Colossal                                    6.4                2.87

# Data Selection – Based on Conditional Filtering

In [160]:
#pick only movies that are released from 2010 to 2016, have a rating of less than 6.0
print(data[((data['Year'] >= 2010) & (data['Year'] <= 2016))
      & (data['Rating'] < 6.0)
      ].head())

                                  Rank  ... Metascore
Title                                   ...
Independence Day: Resurgence        25  ...      32.0
Dead Awake                          28  ...       NaN
Assassin's Creed                    30  ...      36.0
Resident Evil: The Final Chapter    35  ...      49.0
Don't Fuck in the Woods             43  ...       NaN

[5 rows x 11 columns]

In [161]:
#director with their average rating of the movies
print(data.groupby('Director')[['Rating']].mean().head())

                     Rating
Director
Aamir Khan              8.5
Abdellatif Kechiche     7.8
Adam Leon               6.5
Adam McKay              7.0
Adam Shankman           6.3

# Sorting Operations

In [124]:
#we have listed the average rating for each ‘Director’, now we want to sort them
print(data.groupby('Director')[['Rating']].mean().sort_values(['Rating'], ascending=True).head())

                   Rating
Director
Jason Friedberg       1.9
James Wong            2.7
Shawn Burkett         2.7
Jonathan Holbrook     3.2
Femi Oyeniran         3.5

# Dealing with missing values

In [130]:
#checking the number of null value in each column
print(data.isnull().sum())

Rank                    0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [135]:
# Use drop function to drop columns
print(data.drop('Metascore', axis=1).head())

                         Rank  ... Revenue (Millions)
Title                          ...
Guardians of the Galaxy     1  ...             333.13
Prometheus                  2  ...             126.46
Split                       3  ...             138.12
Sing                        4  ...             270.32
Suicide Squad               5  ...             325.02

[5 rows x 10 columns]

In [138]:
# Drops all rows containing missing data
print(data.dropna())

                          Rank  ... Metascore
Title                           ...
Guardians of the Galaxy      1  ...      76.0
Prometheus                   2  ...      65.0
Split                        3  ...      62.0
Sing                         4  ...      59.0
Suicide Squad                5  ...      40.0
...                        ...  ...       ...
Resident Evil: Afterlife   994  ...      37.0
Project X                  995  ...      48.0
Hostel: Part II            997  ...      46.0
Step Up 2: The Streets     998  ...      50.0
Nine Lives                1000  ...      11.0

[838 rows x 11 columns]

In [139]:
# Drop all columns containing missing data
print(data.dropna(axis=1))

                         Rank                     Genre  ... Rating   Votes
Title                                                    ...
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi  ...    8.1  757074
Prometheus                  2  Adventure,Mystery,Sci-Fi  ...    7.0  485820
Split                       3           Horror,Thriller  ...    7.3  157606
Sing                        4   Animation,Comedy,Family  ...    7.2   60545
Suicide Squad               5  Action,Adventure,Fantasy  ...    6.2  393727
...                       ...                       ...  ...    ...     ...
Secret in Their Eyes      996       Crime,Drama,Mystery  ...    6.2   27585
Hostel: Part II           997                    Horror  ...    5.5   73152
Step Up 2: The Streets    998       Drama,Music,Romance  ...    6.2   70699
Search Party              999          Adventure,Comedy  ...    5.6    4881
Nine Lives               1000     Comedy,Family,Fantasy  ...    5.3   12435

[1000 rows x 9 columns]

In [137]:
#minimum number of null value to be satisfied to drop
print(data.dropna(axis=0, thresh=6))

                         Rank  ... Metascore
Title                          ...
Guardians of the Galaxy     1  ...      76.0
Prometheus                  2  ...      65.0
Split                       3  ...      62.0
Sing                        4  ...      59.0
Suicide Squad               5  ...      40.0
...                       ...  ...       ...
Secret in Their Eyes      996  ...      45.0
Hostel: Part II           997  ...      46.0
Step Up 2: The Streets    998  ...      50.0
Search Party              999  ...      22.0
Nine Lives               1000  ...      11.0

[1000 rows x 11 columns]

In [142]:
#Filling null value with mean in Revenue
revenue_mean = data['Revenue (Millions)'].mean()
print("The mean revenue is: ", revenue_mean)

The mean revenue is:  82.95637614678897

In [163]:
# We can fill the null values with this mean revenue
data['Revenue (Millions)'].fillna(revenue_mean, inplace=True)

In [172]:
#CHECK this after restarting 
print(data['Revenue (Millions)'].isnull().sum())

0

# Apply( ) function

In [173]:
# Classify movies based on ratings
def rating_group(rating):
    if rating >= 7.5:
        return 'Good'
    elif rating >= 6.0:
        return 'Average'
    else:
        return 'Bad'

In [174]:
# Lets apply this function on our movies data
# creating a new variable in the dataset to hold the rating category
data['Rating_category'] = data['Rating'].apply(rating_group)

In [176]:
print(data['Rating_category'])

Title
Guardians of the Galaxy       Good
Prometheus                 Average
Split                      Average
Sing                       Average
Suicide Squad              Average
                            ...
Secret in Their Eyes       Average
Hostel: Part II                Bad
Step Up 2: The Streets     Average
Search Party                   Bad
Nine Lives                     Bad
Name: Rating_category, Length: 1000, dtype: object